@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

* {
  box-sizing: border-box;
  font-family: Assistant , sans-serif;
}

html , body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  padding: 0;
}

#cabecalho {
  top: 0;
  position: fixed;
  background-color: rgb(47, 153, 47);
  background-size: cover;
  padding-bottom: 15px;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 1;
}

#navbar {
  list-style-type: none;
  margin: 0;
  text-align: center;
}

#navbar li {
  display: inline;
  color: white;
  text-decoration: none;
  text-align: center;
}

#navbar li a {
  display: inline-block;
  text-decoration: none;
  font-size: 25px;
  padding: 1em;
}

#navbar li a:hover {
  background-color: green;
  border-radius: 20px;
}

#titulo {
  text-align: center;
}

#Discord {
  color: rgb(91, 4, 172);
}

#Linkedin {
  color: rgb(48, 81, 151);
}

#spotify {
  color: rgb(119, 187, 18);
}

#main-section {
  position: absolute;
  margin-top: 220px;
  margin-left: 50px;
}

#minha_foto {
  border-radius: 50%;
  z-index: 2;
}

#licoes_aprendidas {
  display: block;
  float: left;
}

#licoes_a_aprender {
  display: block;
  float: right;
  margin-right: 600px;
}

#aside {
  display: inline-block;
  padding: auto;
}

#rodape {
  display: inline-block;
}
